<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <link href="../webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <form action="#" th:action="@{/item/add}" th:object="item" method="post">
        <table class="table table-striped">
            <caption>Your todos are</caption>
            <thead>
            <tr>
                <th>상품</th>
                <th>판매자</th>
                <th>가격</th>
                <th>상세</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <p>Simple Text Field: <input type="text" th:field="*{textField}"/></p>
                </td>
                <td>
                    <p>Date Field: <input type="number" th:field="*{numberField}" /></p>
                </td>
                <td>
                    <p>Text Area Field: <textarea th:field="*{textareaField}" ></textarea></p>
                </td>
                <td>
                    <a class="btn btn-warning" href="/edit-todo">Edit Todo</a>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
    <div>
        <a class="btn btn-default" href="/add-todo">Add a Todo</a>
    </div>
    <script src="../webjars/jquery/1.9.1/jquery.min.js"></script>
    <script src="../webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</div>
</body>
</html>