<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>워너원 상품 목록</title>
    <link href="../webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <table class="table table-striped">
        <div class="page-header">
            <h1>워너원 상품 오픈마켓</h1>
            <ins><a href="/logout">로그아웃</a></ins>
        </div>
        <thead>
        <tr>
            <th class="text-center">상품</th>
            <th class="text-center">가격</th>
            <th class="text-center">상세</th>
            <th class="text-center">수량</th>
            <th class="text-center">판매량</th>
            <th class="text-center">구매하기</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td class="text-center" th:text="${item.name}">1</td>
            <td class="text-center" th:text="${item.price}">1</td>
            <td class="text-center" th:text="${item.info}">1</td>
            <td class="text-center" th:text="${item.totalCount}">1</td>
            <td class="text-center" th:text="${item.soldCount}">1</td>
            <td class="text-center">
                <a class="btn btn-primary"
                   href="/order/${item.id}">
                    구매하기
                </a>
                <a class="btn btn-info"
                   href="/item/1">
                    장바구니넣기
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div style="text-align: center">
        <a class="btn btn-danger"
           href="/item/add">
            상품 올리기
        </a>
        <a class="btn btn-warning"
           href="/item/add">
            장바구니 가기
        </a>
    </div>
    <div style="text-align: center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item" th:each="page: ${pages}" th:classappend="${page == currentPage} ? active : ''">
                    <a class="page-link" th:text="${page}"></a>
                </li>
            </ul>
        </nav>
    </div>
    <script src="../webjars/jquery/1.9.1/jquery.min.js"></script>
    <script src="../webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</div>
</body>
</html>